.home {
  background-color: #DBD8D2;
  position: relative;
}

.flare {
  position: absolute;
  top: 0%;
  left: 0%;
  padding-left: 24%;
  z-index: 990;
  pointer-events: none;
}

.flare img {
  max-width: 100%;
}

.carousel {
  position: relative;
  background-color: #595D5F;
  z-index: 999;
}

.carousel .slide-container {
  position: relative;
  padding: 21px 0px 74px 10px;
}

.carousel .slide-container img {
  width: 100%;
}

.carousel .slide-container .info-box {
  position: absolute;
  top: 16%;
  left: 10%;
  padding: 6% 6%;
  max-width: 20%;
  background-color: #FFFFFF;
  font-family: Helvetica;
  color: #595D5F;
}

.carousel .slide-container .info-box .title {
  font-size: 17px;
  margin-bottom: 36px;
  font-weight: 700;
}max-

.carousel .slide-container .info-box .content {
  font-size: 17px;
  max-width: 90%;
  margin-bottom: 20px;
}

.carousel .slide-container .info-box .more {
  color: #8D6045;
  font-size: 20px;
}

.about {
  color: #8D6045;
  padding: 10% 32% 10% 13%;
  font-family: Helvetica;
}

.about .title {
  font-size: 17px;
  font-weight: bold;
}

.about .spacer {
  margin-top: 20px;
  height: 37px;
  border-left: 2px solid #8D6045;
}

.about .content {
  padding-left: 64px;
  line-height: 2.6em;
}

.about .content p {
  margin-top: 0;
}

.services-group {
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.service {
  position: relative;
}

.service img {
  max-width: 100%;
}

.service .content {
  position: absolute;
  top: 5%;
  left: 10%;
  padding: 10% 10%;
  max-width: 34%;
  font-family: Helvetica;
}

.service .step-number {
  font-size: 17px;
  margin-bottom: 20px;
}

.service .title {
  font-weight: bold;
  font-size: 20px;
}

.call-to-action {
  padding: 10%;
  color: #8D6045;
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-to-action .title {
  font-size: 17px;
  margin-bottom: 20px;
}

.call-to-action .link {
  font-size: 24px;
}
